<!DOCTYPE html>

<html lang="de">

<head>
  <meta charset="utf-8" />

  <title>SchnellTestRechner.de</title>
  <meta name="description" content="Ein Werkzeug, um Bayes-Wahrscheinlichkeiten von Covid-Schnelltests zu verstehen" />
  <meta name="author" content="Lena Schimmel" />

  <link rel="stylesheet" href="styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
</head>

<body>
  <v-app id="rapidtest">
    <v-app-bar app dark color="light-blue darken-2" flat clipped-right>
      <v-icon large>
        mdi-virus
      </v-icon>
      <v-toolbar-title>SchnellTestRechner.de</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-switch v-model="intermediate" label="Detaillierte Angaben" hide-details></v-switch>
      <v-btn text>Impressum</v-btn>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-icon>mdi-information</v-icon>
          </v-btn>
        </template>
        <span>Impressum und Datenschutz</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on" href="https://twitter.com/Testrechner" target="_">
            <v-icon>mdi-twitter</v-icon>
          </v-btn>
        </template>
        <span>Zum Twitter-Account @testrechner</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on" href="https://github.com/lenaschimmel/schnelltestrechner" target="_">
            <v-icon>mdi-github</v-icon>
          </v-btn>
        </template>
        <span>Code auf Github ansehen</span>
      </v-tooltip>
    </v-app-bar>

    <v-main class="grey lighten-3">
      <v-container class="fill-height">
        <v-row class="fill-height">
          <v-col cols="12" class="fill-height">
            <v-alert color="red" type="warning" icon="mdi-alert">
              Dies ist eine sehr frühe Vorschau-Version dieser Seite. Sie wurde bisher nicht von unabhängigen,
              fachkundigen Menschen auf Plausibilität und Fehlerfreiheit geprüft. Bitte verwende die Ergebnisse
              mit Vorsicht und Skepsis!
            </v-alert>

            <v-expansion-panels multiple class="mb-8">

              <v-expansion-panel>
                <v-expansion-panel-header class="font-weight-bold text-uppercase">
                  Einleitung
                </v-expansion-panel-header>
                <v-expansion-panel-content>

                  <p>Wie zuverlässig eigentlich ein Schnell- oder Selbst-Test auf Sars-CoV-2 ist, <b>lässt sich
                      unmöglich
                      allgemein beantworten.</b> Neben den Eigenschaften des eigentlichen Tests (<i>Sensitivität</i>
                    und
                    <i>Spezifität</i>) spielt auch die sogenannte <i>Vortestwahrscheinlichkeit</i> eine enorm große
                    Rolle.
                    Und die hängt grundsätzlich von der <i>Inzidenz</i>, sowie dem privatem und beruflichem
                    <i>Risiko-Profil</i>ab. Wer außerdem <i>Symptome</i> hat, hat eine zusätzlich stark erhöhte
                    Vortestwahrscheinlichkeit.
                  </p>

                  <p>Um in einem konkreten Fall das Ergebnis zu bewerten müsste man also:</p>
                  <ul>
                    <li>Die mathematischen Grundprinzipien verstehen, insbesondere das scheinbare paradoxe Phänomen
                      des <a href="https://de.wikipedia.org/wiki/Pr%C3%A4valenzfehler">Prävalenzfehlers</a></li>
                    <li>Alle oben genannten Werte recherchieren bzw. abschätzen</li>
                    <li>Diese Werte in Formeln einsetzen und Ergebnisse ausrechnen</li>
                  </ul>

                  <p>Diese Seite möchte bei all diesen Schritten helfen. Der Fokus liegt auf einem Test für eine
                    bestimmte
                    Person zu einem bestimmten Zeitpunkt, also nicht auf Abschätzungen für die Gesamtbevölkerung.</p>

                </v-expansion-panel-content>
              </v-expansion-panel>

              <v-expansion-panel>
                <v-expansion-panel-header class="font-weight-bold text-uppercase">
                  Test-Auswahl
                </v-expansion-panel-header>
                <v-expansion-panel-content>

                  <input type="radio" id="testsSelf" name="testsSelf" v-model="testsKind" value="self" />
                  <label for="testsSelf">Nur Selbst-Tests</label>

                  <input type="radio" id="testsPei" name="testsPei" v-model="testsKind" value="pei" />
                  <label for="testsPei">Vom PEI evaluiert (Selbst- und Profi-Tests)</label>

                  <input type="radio" id="testsAll" name="testsAll" v-model="testsKind" value="all" />
                  <label for="testsAll">Alle (Selbst- und Profi-Tests)</label>

                  <input type="radio" id="testsInput" name="testsInput" v-model="testsKind" value="input" />
                  <label for="testsInput">Eigene Werte eingeben</label>

                  <template v-if="testsKind != 'input'">
                    <p>Test:
                      <v-select v-model="testId" :items="visibleTests" item-text="name" item-value="id" outlined>

                      </v-select>
                    </p>
                    <template v-if="intermediate">
                      <p>
                        Studie: <v-select v-model="studyId" :items="studies" item-text="author" item-value="id"
                          outlined>
                        </v-select>
                      </p>

                      <p>
                        <input type="radio" id="confidenceAvg" name="confidenceAvg" v-model="confidence" value="avg">
                        <label for="confidenceAvg">Durchschnitt</label>

                        <input type="radio" id="confidenceMin" name="confidenceMin" v-model="confidence" value="min">
                        <label for="confidenceMin">Minimum</label>

                        <input type="radio" id="confidenceMax" name="confidenceMax" v-model="confidence" value="max">
                        <label for="confidenceMax">Maximum</label>
                      </p>

                    </template>
                    <p>Sensitivität: <input disabled v-bind:value="formatPercent(sensitivity)" /></p>
                    <p>Spezifität: <input disabled v-bind:value="formatPercent(specificity)" /></p>
                  </template>
                  <template v-else>
                    <p>Sensitivität:
                      <v-text-field v-model="sensitivityString" outlined />
                    </p>
                    <p>Spezifität:
                      <v-text-field v-model="specificityString" outlined />
                    </p>
                  </template>
                  <div id="factors" v-if="intermediate">
                    <h2>Abgeleitete Werte:</h2>
                    <p>Falsch-Negativ-Rate: <input disabled v-bind:value="formatPercent(fnr)" /></p>
                    <p>Falsch-Positiv-Rate: <input disabled v-bind:value="formatPercent(fpr)" /></p>

                    <p>Bayes-Faktor bei positivem Test: <input disabled :value="formatNumber(bayesFactorPos)" /></p>
                    <p>Bayes-Faktor bei negativem Test: <input disabled :value="formatNumber(1/bayesFactorNeg)" /></p>
                  </div>
                </v-expansion-panel-content>
              </v-expansion-panel>

              <v-expansion-panel>
                <v-expansion-panel-header class="font-weight-bold text-uppercase">
                  Aktuelle Inzidenz
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <input type="radio" id="incidenceGermany" name="incidenceGermany" v-model="incidenceSource"
                    value="germany">
                  <label for="incidenceGermany">Ganz Deutschland</label>

                  <input type="radio" id="incidenceState" name="incidenceState" v-model="incidenceSource" value="state">
                  <label for="incidenceState">Nach Bundesland</label>

                  <input type="radio" id="incidenceDistrict" name="incidenceDistrict" v-model="incidenceSource"
                    value="district">
                  <label for="incidenceDistrict">Nach Landkreis</label>

                  <input type="radio" id="incidenceSelf" name="incidenceSelf" v-model="incidenceSource" value="input">
                  <label for="incidenceSelf">Eigenen Wert eingeben</label>

                  <template v-if="incidenceSource == 'state'">
                    <p>Bundesland:
                      <v-select v-model="stateId" :items="states" item-text="name" item-value="id" outlined>
                      </v-select>
                    </p>
                  </template>

                  <template v-if="incidenceSource == 'district'">
                    <p>Landkreis:
                      <v-select v-model="districtId" :items="districts" item-text="name" item-value="ags" outlined>
                      </v-select>
                    </p>
                  </template>

                  <template v-if="incidenceSource == 'input'">
                    <p>7-Tage Prävalenz je 100.000:
                      <v-text-field v-model="incidenceString" outlined />
                    </p>
                  </template>
                  <template v-if="intermediate">
                    <template v-if="incidenceSource != 'input'">
                      <p><i>Quelle der Inzidenzdaten: <a
                            href="https://api.corona-zahlen.org">api.corona-zahlen.org</a></i></p>
                      <p>Gemeldete 7-Tage Inzidenz je 100.000 diese Woche: <input disabled
                          :value="formatNumber(incidence)" /></p>
                      <p>Gemeldete 7-Tage Inzidenz je 100.000 vorherige Woche: <input disabled
                          :value="formatNumber(incidencePrev)" /></p>
                    </template>
                    <p>Geschätzte Prävalenz: <input disabled :value="formatNumber(incidenceAdjusted)" /></p>
                  </template>
                </v-expansion-panel-content>
              </v-expansion-panel>

              <v-expansion-panel>
                <v-expansion-panel-header class="font-weight-bold text-uppercase">
                  Persönliches Risiko
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <p>Privates Risiko-Profil:
                    <v-select v-model="riskProfilePrivate" :items="riskProfilesPrivate" item-text="name"
                      item-value="val" outlined>
                    </v-select>
                  </p>
                  <p>Berufliches Risiko-Profil:
                    <v-select v-model="riskProfileProfessional" :items="riskProfilesProfessional" item-text="name"
                      item-value="val" outlined>
                    </v-select>
                  </p>
                  <p>Zusätzliche Risiken in den letzten 10 Tagen laut <a
                      href="https://www.microcovid.org">microCOVID.org</a>:
                    <v-text-field v-model="additionalRiskString" outlined />
                    µCoV
                  </p>

                  <p>Vortestwahrscheinlichkeit vor Symptomen: <input disabled v-bind:value="formatPercent(priorProb)" />
                  </p>
                </v-expansion-panel-content>
              </v-expansion-panel>

              <v-expansion-panel>
                <v-expansion-panel-header class="font-weight-bold text-uppercase">
                  Symptome
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <p>
                    <input type="checkbox" id="sympSmell" name="sympSmell" v-model="sympSmell"><label
                      for="sympSmell">Geruchsverlust</label>
                    <input type="checkbox" id="sympTaste" name="sympTaste" v-model="sympTaste"><label
                      for="sympTaste">Geschmacksverlust</label>
                    <input type="checkbox" id="sympFever" name="sympFever" v-model="sympFever"><label
                      for="sympFever">Fieber</label>
                    <input type="checkbox" id="sympCough" name="sympCough" v-model="sympCough"><label
                      for="sympCough">Husten</label>
                    <input type="checkbox" id="sympChest" name="sympChest" v-model="sympChest"><label
                      for="sympChest">Engegefühl
                      in der Brust</label>
                    <input type="checkbox" id="sympWheez" name="sympWheez" v-model="sympWheez"><label
                      for="sympWheez">Keuchen</label>
                    <input type="checkbox" id="sympOther" name="sympOther" v-model="sympOther"><label
                      for="sympOther">Sonstige
                      verdächtige Symptome</label>
                  </p>

                  <p>(verdächtige Symptome sind z.B. Schnupfen, Bronchitis, Pneumonie, Atemnot, Halsschmerzen, Kopf-
                    und
                    Gliederschmerzen, Appetitlosigkeit, Gewichtsverlust, Übelkeit, Bauchschmerzen, Erbrechen,
                    Durchfall,
                    Konjunktivitis, Hautausschlag, Lymphknotenschwellung, Apathie, Somnolenz)</p>

                  <template v-if="anySymptoms && intermediate">
                    <p>C19 Rule score: <input disabled v-bind:value="ruleScore" /></p>
                    <p>C19 Rule likelihood ratio: <input disabled v-bind:value="formatNumber(ruleLR)" /></p>
                    <p>Symptom-Faktor: <input disabled v-bind:value="formatNumber(ruleLR*anySymptomFactor)" /></p>
                  </template>
                  <p>Vortestwahrscheinlichkeit nach Symptomen: <input disabled
                      v-bind:value="formatPercent(priorProbSymptoms)" />
                  </p>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
            <v-spacer></v-spacer>
          </v-col>
        </v-row>
      </v-container>
    </v-main>

    <v-footer v-if="Number.isNaN(priorProbSymptoms)" :app="$vuetify.breakpoint.mdAndUp"
      :fixed="$vuetify.breakpoint.mdAndUp" color="red lighten-3">
      <v-toolbar-title>Ergebnis kann nicht ermittelt werden. Bitte die Eingaben weiter oben prüfen.</v-toolbar-title>
    </v-footer>

    <v-footer v-if="!Number.isNaN(priorProbSymptoms)" :app="$vuetify.breakpoint.mdAndUp"
      :fixed="$vuetify.breakpoint.mdAndUp" color="light-blue lighten-3">
      <v-toolbar-title>Aussagekraft des Tests bei {{ formatPercent(priorProbSymptoms) }} Vortestwahrscheinlichkeit
      </v-toolbar-title>

      <v-col class="text-center" cols="12">
        <v-simple-table color="light-blue lighten-5" dense>
          <template v-slot:default>
            <tbody>
              <tr>
                <td class="text-left font-weight-bold">

                </td>
                <td class="text-left font-weight-bold">
                  Infiziert
                </td>
                <td class="text-left font-weight-bold">
                  Nicht infiziert
                </td>
              </tr>
              <tr>
                <td class="text-left font-weight-bold">Test positiv</td>
                <td class="text-left">
                  {{ formatPercent(updatedProbPos) }} echt-positiv
                  <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon color="primary" small v-bind="attrs" v-on="on">
                        mdi-help-circle
                      </v-icon>
                    </template>
                    <span>Bei einem positiven Testergbnis liegt zu {{ formatPercent(updatedProbPos) }} wirklich eine
                      Infektion vor (echt-positiv).</span>
                  </v-tooltip>
                </td>
                <td class="text-left">
                  {{ formatPercent(1-updatedProbPos) }} falsch-positiv
                  <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon color="primary" small v-bind="attrs" v-on="on">
                        mdi-help-circle
                      </v-icon>
                    </template>
                    <span>Bei einem positives Testergbnis liegt zu {{ formatPercent(1-updatedProbPos) }} keine
                      Infektion vor (falsch-positiv).</span>
                  </v-tooltip>
                </td>
              </tr>
              <tr>
                <td class="text-left font-weight-bold">Test negativ</td>
                <td class="text-left">
                  {{ formatPercent(updatedProbNeg) }} falsch-negativ
                  <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon color="primary" small v-bind="attrs" v-on="on">
                        mdi-help-circle
                      </v-icon>
                    </template>
                    <span>Bei einem negativen Testergbnis liegt zu {{ formatPercent(updatedProbNeg) }} trotzdem
                      eine Infektion vor (falsch-negativ).</span>

                  </v-tooltip>
                </td>
                <td class="text-left">
                  {{ formatPercent(1-updatedProbNeg) }} echt-negativ
                  <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon color="primary" small v-bind="attrs" v-on="on">
                        mdi-help-circle
                      </v-icon>
                    </template>
                    <span>Bei einem negativen Testergbnis liegt zu {{ formatPercent(1-updatedProbNeg) }}
                      keine Infektion vor (echt-negativ).</span>
                  </v-tooltip>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
    </v-footer>

  </v-app>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="script.js"></script>
</body>

</html>