.demo {
    font-family: sans-serif;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 20px 30px;
    margin-top: 1em;
    margin-bottom: 40px;
    user-select: none;
    overflow-x: auto;
    background-color: azure;
  }

input {
    color:#000;
    background-color: #FFF;
 }

input[disabled] {
    color:#666;
    background-color: #EEE;
 }
