<!DOCTYPE html>

<html lang="de">

<head>
  <meta charset="utf-8" />

  <title>SchnellTestRechner.de</title>
  <meta name="description" content="Ein Werkzeug, um Bayes-Wahrscheinlichkeiten von Covid-Schnelltests zu verstehen" />
  <meta name="author" content="Lena Schimmel" />

  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/fonts.css" />
  <link rel="stylesheet" href="/css/icons.css" />
  <link rel="stylesheet" href="/css/vuetify.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />



  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="/icons/site.webmanifest">
  <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#2888d1">
  <link rel="shortcut icon" href="/icons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="SchnellTestRechner.de">
  <meta name="application-name" content="SchnellTestRechner.de">
  <meta name="msapplication-TileColor" content="#2888d1">
  <meta name="msapplication-config" content="/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <meta name="twitter:card" content="summary">
  </meta>
  <meta name="twitter:site" content="@testrechner">
  </meta>
  <meta name="twitter:creator" content="@lenaschimmel">
  </meta>
  <meta name="twitter:description"
    content="Wie zuverlässig eigentlich ein Schnell- oder Selbst-Test auf Sars-CoV-2 ist, lässt sich unmöglich allgemein beantworten. Diese Seite möchte bei der Abschätzung helfen.">
  </meta>
  <meta name="twitter:title" content="SchnellTestRechner - Aussagekraft von SARS-CoV-2-Tests greifbar machen">
  </meta>
  <meta name="twitter:image" content="https://schnelltestrechner.de/TwitterCardImageSquare.jpg">
  </meta>
  <meta name="twitter:image:alt"
    content="Ein Mensch in Schutzausrüstung hält einen negativen Schnelltest in die Kamera. Darauf der Text: 'SchnellTestRechner.de - Wie aussagekräftig ist mein Test-Ergebnis?'. Unten links das Logo der Seite, ein Corona-Virus mit einem Prozentzeichen.">
  </meta>
</head>

<body>
  <div id="loading">
    <h1>Die Seite lädt…</h1>
    Bitte habe etwas Geduld, da die Seite noch nicht auf schnelle Ladezeiten optimiert ist.
  </div>
  <noscript>
    <h1>JavaScript benötigt</h1>
    Diese Seite funktioniert nur mit aktiviertem JavaScript in einem (halbwegs) aktuellen Browser. Das JavaScript wird
    zum einen für ein schönes Layout benötigt, insbesondere aber auch, da sie die Berechnungen direkt im Browser
    durchführt, um den Schutz deiner persönlichen, gesundheits-bezogenen Daten sicher zu stellen.
  </noscript>
  <v-app id="rapidtest" class="hidden">
    <v-app-bar app dark color="light-blue darken-2" flat clipped-right>
      <v-img max-height="46" max-width="46" src="/icons/android-chrome-192x192.png"></v-img>
      <v-toolbar-title>SchnellTestRechner.de</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-switch v-model="intermediate" label="Erweiterte Ansicht" hide-details></v-switch>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on" href="https://twitter.com/Testrechner" target="_">
            <v-icon>mdi-twitter</v-icon>
          </v-btn>
        </template>
        <span>Zum Twitter-Account @testrechner</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on" href="https://github.com/lenaschimmel/schnelltestrechner" target="_">
            <v-icon>mdi-github</v-icon>
          </v-btn>
        </template>
        <span>Code auf Github ansehen</span>
      </v-tooltip>

      <template v-slot:extension>
        <v-tabs v-model="tab">
          <v-tabs-slider color="pink"></v-tabs-slider>

          <v-tab v-for="item in tabs" :key="item.id">
            {{ item.title }}
          </v-tab>
        </v-tabs>
      </template>
    </v-app-bar>

    <v-main class="white">
      <v-tabs-items v-model="tab">
        <v-tab-item>
          <!-- TAB calc -->
          <v-container class="fill-height">
            <v-row class="fill-height">
              <v-col cols="12" class="fill-height">
                <v-alert color="red" type="warning" icon="mdi-alert">
                  <p>Dies ist eine sehr frühe Vorschau-Version dieser Seite. Sie wurde bisher nicht von unabhängigen,
                    fachkundigen Menschen auf Plausibilität und Fehlerfreiheit geprüft. Bitte verwende die Ergebnisse
                    mit Vorsicht und Skepsis!</p>
                  <p>Bekannte Fehler, Probleme und Ungenauigkeiten sind in den <a
                      href="https://github.com/lenaschimmel/schnelltestrechner/issues" target="_"
                      class="white--text">GitHub Issues</a> erfasst. Bitte richte weitere Anmerkungen dorthin, oder
                    an die verlinkten <a href="https://twitter.com/Testrechner" target="_"
                      class="white--text">Twitter-</a> und <a href="mailto:mail@schnelltestrechner.de" target="_"
                      class="white--text">Mail</a>-Accounts.</p>
                </v-alert>

                <v-expansion-panels multiple class="mb-8" v-model="expandedPanelsCalc">

                  <v-expansion-panel>
                    <v-expansion-panel-header class="font-weight-bold text-uppercase" color="blue lighten-3">
                      Einleitung
                    </v-expansion-panel-header>
                    <v-expansion-panel-content color="blue lighten-5" class="pt-4">

                      <p>Wie zuverlässig eigentlich ein Schnell- oder Selbst-Test auf Sars-CoV-2 ist, <b>lässt sich
                          unmöglich allgemein beantworten.</b> Neben den Eigenschaften des eigentlichen Tests
                        (<i>Sensitivität</i> und <i>Spezifität</i>) spielt auch die sogenannte
                        <i>Vortestwahrscheinlichkeit</i> eine enorm große
                        Rolle. Und die hängt grundsätzlich von der <i>Inzidenz</i>, sowie dem privatem und beruflichem
                        <i>Risiko-Profil</i> ab. Wer außerdem <i>Symptome</i> hat, hat eine zusätzlich stark erhöhte
                        Vortestwahrscheinlichkeit.
                      </p>

                      <p>Um in einem konkreten Fall das Ergebnis zu bewerten, müsste man also:</p>
                      <ul class="mb-4">
                        <li>Die mathematischen Grundprinzipien verstehen, insbesondere das scheinbare paradoxe Phänomen
                          des <a href="https://de.wikipedia.org/wiki/Pr%C3%A4valenzfehler"
                            target="_">Prävalenzfehlers</a>
                        </li>
                        <li>Alle oben genannten Werte recherchieren bzw. abschätzen</li>
                        <li>Diese Werte in Formeln einsetzen und Ergebnisse ausrechnen</li>
                      </ul>

                      <p>Diese Seite möchte bei all diesen Schritten helfen. Der Fokus liegt auf einem Test für eine
                        bestimmte Person zu einem bestimmten Zeitpunkt, also nicht auf Abschätzungen für die
                        Gesamtbevölkerung.
                      </p>
                      <p>Details zur Funktionsweise finden sich im Tab "Weitere Infos".</p>

                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header class="font-weight-bold text-uppercase" color="blue lighten-3">
                      Test-Auswahl
                    </v-expansion-panel-header>
                    <v-expansion-panel-content color="blue lighten-5" class="pt-4">

                      <v-btn-toggle v-model="testsKind">
                        <v-btn value="list">
                          <span class="hidden-xs-only mr-4">Aus Liste wählen</span>
                          <span class="hidden-sm-and-up mr-4">Liste</span>
                          <v-icon>
                            mdi-format-list-checkbox
                          </v-icon>
                        </v-btn>

                        <v-btn value="input">
                          <span class="hidden-xs-only mr-4">Eigene Werte eingeben</span>
                          <span class="hidden-sm-and-up mr-4">Eingabe</span>
                          <v-icon>
                            mdi-pencil
                          </v-icon>
                        </v-btn>
                      </v-btn-toggle>

                      <template v-if="testsKind == 'list'">
                        <v-container fluid>
                          <v-row no-gutters>
                            <v-col cols="12" sm="4" md="4" no-gutters>
                              <v-checkbox label="Nur Selbst-Tests" v-model="testFilterSelf"></v-checkbox>
                            </v-col>
                            <v-col cols="12" sm="8" md="8" no-gutters>
                              <v-checkbox v-model="testFilterPei">
                                <template v-slot:label>
                                  <div>Nur vom <acronym
                                      title="Paul-Ehrlich-Institut - Bundesinstitut für Impfstoffe und biomedizinische Arzneimittel">PEI</acronym>
                                    evaluiert</div>
                                </template>
                              </v-checkbox>
                            </v-col>
                          </v-row>
                        </v-container>

                        <v-text-field solo v-model="testFilter" append-icon="mdi-magnify" label="Suchbegriff"
                          placeholder="Suche nach Hersteller, Name, Distributor, AT-Nummer, Sonderzulassungsnummer">
                        </v-text-field>

                        <v-card>
                          <v-data-table dense v-model="selectedTests" :items="visibleTests" :headers="testHeaders"
                            show-select single-select locale="de-DE" mobile-breakpoint="360"
                            :options="{ itemsPerPage: 5 }">
                            <template v-slot:item.selftest="{ item }">
                              <v-chip :color="item.selftest ? 'green' : 'red'" dark>
                                {{ item.selftest ? "Ja" : "Nein" }}
                              </v-chip>
                            </template>
                            <template v-slot:item.studies="{ item }">
                              <v-tooltip left>
                                <template v-slot:activator="{ on, attrs }">
                                  <div v-bind="attrs" v-on="on">
                                    <v-icon v-for="circle in getDataCircles(item.studies)" :key="circle.color" small
                                      :color="circle.color">
                                      {{ circle.icon }}
                                    </v-icon>
                                  </div>
                                </template>
                                <span>{{ getDataText(item.studies) }}</span>
                              </v-tooltip>
                            </template>
                            <template v-slot:item.attrib="{ item }">
                              <v-tooltip left>
                                <template v-slot:activator="{ on, attrs }">
                                  <div v-bind="attrs" v-on="on">
                                    <v-icon v-for="circle in getAttribCircles(item)" :key="circle.color" small
                                      :color="circle.color">
                                      {{ circle.icon }}
                                    </v-icon>
                                  </div>
                                </template>
                                <span>{{ getAttribText(item) }}</span>
                              </v-tooltip>
                            </template>
                            <template v-slot:item.attrib_and_studies="{ item }">
                              <v-tooltip left>
                                <template v-slot:activator="{ on, attrs }">
                                  <div v-bind="attrs" v-on="on">
                                    <v-icon v-for="circle in getDataCircles(item.studies)" :key="circle.color" small
                                      :color="circle.color">
                                      {{ circle.icon }}
                                    </v-icon>
                                    <v-icon v-for="circle in getAttribCircles(item)" :key="circle.color" small
                                      :color="circle.color">
                                      {{ circle.icon }}
                                    </v-icon>
                                  </div>
                                </template>
                                <span>{{ getDataText(item.studies) + " - " + getAttribText(item) }}</span>
                              </v-tooltip>
                            </template>
                            <template v-slot:item.manufacturer_name="{ item }">
                              {{ item.manufacturer + " - " + item.name}}
                            </template>
                          </v-data-table>
                        </v-card>

                        <template
                          v-if="intermediate && this.selectedTest && Object.keys(this.selectedTest.studies).length > 0">
                          <p v-if="Object.keys(this.selectedTest.studies).length > 1" class="mt-4">
                            Quelle der Angaben zu Sensitivität und Spezifität:
                            <v-select v-model="studyId" :items="studies" item-text="author" item-value="id" solo>
                              <template v-slot:item="{ parent, item, on, attrs}">
                                {{ studyTitle(item) }}
                              </template>
                              <template v-slot:selection="{ parent, item, index }">
                                {{ studyTitle(item) }}
                              </template>
                            </v-select>
                          </p>

                          <p>
                            Werte innerhalb des 95%-Konfidenzintervalls:

                            <v-btn-toggle v-model="confidence" class="mt-2">
                              <v-btn value="min">
                                <span class="hidden-xs-only">Niedrigste</span>
                                <v-icon>
                                  mdi-format-vertical-align-bottom
                                </v-icon>
                              </v-btn>
                              <v-btn value="avg">
                                <span class="hidden-xs-only">Mittlere</span>
                                <v-icon>
                                  mdi-format-vertical-align-center
                                </v-icon>
                              </v-btn>
                              <v-btn value="max">
                                <span class="hidden-xs-only">Höchste</span>
                                <v-icon>
                                  mdi-format-vertical-align-top
                                </v-icon>
                              </v-btn>
                            </v-btn-toggle>                       
                          </p>
                        </template>

                        <v-container fluid class="pt-8" v-if="!Number.isNaN(this.sensitivity)">
                          <v-row>
                            <v-col cols="12" sm="6" md="3" no-gutters>
                              Sensitivität: {{ formatPercent(sensitivity) }}
                            </v-col>
                            <v-col cols="12" sm="6" md="3" no-gutters>
                              Spezifität: {{ formatPercent(specificity) }}
                            </v-col>
                          </v-row>
                          <v-row>

                            <template v-if="intermediate">
                              <v-col cols="12" sm="6" md="3" no-gutters>Falsch-Negativ-Rate: {{ formatPercent(fnr) }}
                              </v-col>
                              <v-col cols="12" sm="6" md="3" no-gutters>Falsch-Positiv-Rate: {{ formatPercent(fpr) }}
                              </v-col>
                              <v-col cols="12" sm="6" md="3" no-gutters>Bayes-Faktor bei positivem Test: {{
                                formatNumber(bayesFactorPos) }}</v-col>
                              <v-col cols="12" sm="6" md="3" no-gutters>Bayes-Faktor bei negativem Test: {{
                                formatNumber(1/bayesFactorNeg) }}</v-col>
                            </template>
                          </v-row>
                        </v-container>

                        <v-alert icon="mdi-alert" dense outlined type="warning" text class="mt-4"
                          v-if="this.selectedTest != null && Number.isNaN(this.sensitivity)">
                          Zu diesem Test hat der Hersteller keine Sensitivität und Spezifität angegeben. Bitte einen
                          anderen Test auswählen oder Daten selbst eingeben.
                        </v-alert>

                        <v-alert icon="mdi-alert" dense outlined type="warning" text class="mt-4"
                          v-if="this.selectedTest == null">
                          Bitte einen Test auswählen oder eigene Daten zu Sensitivität und Spezifität eingeben.
                        </v-alert>
                      </template>

                      <template v-else>
                        <v-container fluid class="pt-8">
                          <v-row>
                            <v-col cols="12" sm="6" md="3" no-gutters>
                              Sensitivität:
                              <v-text-field v-model="sensitivityString" solo />
                            </v-col>
                            <v-col cols="12" sm="6" md="3" no-gutters>
                              Spezifität:
                              <v-text-field v-model="specificityString" solo />
                            </v-col>
                          </v-row>
                          <v-row>

                            <template v-if="intermediate">
                              <v-col cols="12" sm="6" md="3" no-gutters>Falsch-Negativ-Rate: {{ formatPercent(fnr) }}
                              </v-col>
                              <v-col cols="12" sm="6" md="3" no-gutters>Falsch-Positiv-Rate: {{ formatPercent(fpr) }}
                              </v-col>
                              <v-col cols="12" sm="6" md="3" no-gutters>Bayes-Faktor bei positivem Test: {{
                                formatNumber(bayesFactorPos) }}</v-col>
                              <v-col cols="12" sm="6" md="3" no-gutters>Bayes-Faktor bei negativem Test: {{
                                formatNumber(1/bayesFactorNeg) }}</v-col>
                            </template>
                          </v-row>
                        </v-container>
                      </template>


                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header class="font-weight-bold text-uppercase" color="blue lighten-3">
                      Inzidenz und Prävalenz
                    </v-expansion-panel-header>
                    <v-expansion-panel-content color="blue lighten-5">
                      <v-radio-group v-model="incidenceSource" mandatory>
                        <v-radio value="germany" label="Ganz Deutschland"></v-radio>
                        <v-radio value="state" label="Nach Bundesland"></v-radio>
                        <v-radio value="district" label="Nach Landkreis"></v-radio>
                        <v-radio value="input" label="Eigenen Wert eingeben"></v-radio>
                      </v-radio-group>

                      <template v-if="incidenceSource == 'state'">
                        <p>Bundesland:
                          <v-select v-model="stateId" :items="states" item-text="name" item-value="id" solo>
                          </v-select>
                        </p>
                      </template>

                      <template v-if="incidenceSource == 'district'">
                        <p>Landkreis:
                          <v-select v-model="districtId" :items="districts" item-text="name" item-value="ags" solo>
                          </v-select>
                        </p>
                      </template>

                      <template v-if="incidenceSource == 'input'">
                        <p>7-Tage Prävalenz je 100.000:
                          <v-text-field v-model="incidenceString" solo />
                        </p>
                      </template>
                      <template v-if="intermediate">
                        <template v-if="incidenceSource != 'input'">
                          <p><i>Quelle der Inzidenzdaten: <a href="https://api.corona-zahlen.org"
                                target="_">api.corona-zahlen.org</a></i></p>
                          <p>Gemeldete 7-Tage Inzidenz je 100.000 diese Woche: <input disabled
                              :value="formatNumber(incidence)" /></p>
                          <p>Gemeldete 7-Tage Inzidenz je 100.000 vorherige Woche: <input disabled
                              :value="formatNumber(incidencePrev)" /></p>
                        </template>
                        <p>Geschätzte Prävalenz: <input disabled :value="formatNumber(incidenceAdjusted)" /></p>
                      </template>
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header class="font-weight-bold text-uppercase" color="blue lighten-3">
                      Persönliches Risiko
                    </v-expansion-panel-header>
                    <v-expansion-panel-content color="blue lighten-5" class="pt-4">

                      Privates Risiko-Profil:
                      <v-select v-model="riskProfilePrivate" :items="riskProfilesPrivate" item-text="name"
                        item-value="val" solo>
                      </v-select>

                      Berufliches Risiko-Profil:
                      <v-select v-model="riskProfileProfessional" :items="riskProfilesProfessional" item-text="name"
                        item-value="val" solo>
                      </v-select>

                      Zusätzliche Risiken in den letzten 10 Tagen laut <a href="https://www.microcovid.org"
                        target="_">microCOVID.org</a>:
                      <v-text-field v-model="additionalRiskString" background-color="white" suffix="µCoV" solo>
                      </v-text-field>

                      <p v-if="intermediate">Vortestwahrscheinlichkeit vor Symptomen: <input disabled
                          v-bind:value="formatPercent(priorProb)" />
                      </p>
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header class="font-weight-bold text-uppercase" color="blue lighten-3">
                      Symptome
                    </v-expansion-panel-header>
                    <v-expansion-panel-content color="blue lighten-5">
                      <v-container fluid>
                        <v-row no-gutters>
                          <v-col cols="12" sm="4" md="4" no-gutters>
                            <v-checkbox v-model="sympSmell" label="Geruchsverlust"></v-checkbox>
                            <v-checkbox v-model="sympTaste" label="Geschmacksverlust"></v-checkbox>
                          </v-col>
                          <v-col cols="12" sm="4" md="4" no-gutters>
                            <v-checkbox v-model="sympFever" label="Fieber"></v-checkbox>
                            <v-checkbox v-model="sympCough" label="Husten"></v-checkbox>
                          </v-col>
                          <v-col cols="12" sm="4" md="4" no-gutters>
                            <v-checkbox v-model="sympChest" label="Engegefühl in der Brust"></v-checkbox>
                            <v-checkbox v-model="sympWheez" label="Keuchen"></v-checkbox>
                          </v-col>
                          <v-col cols="12" no-gutters>
                            <v-checkbox v-model="sympOther" label="Sonstige verdächtige Symptome" hint="z.B. Schnupfen, Bronchitis, Pneumonie, Atemnot, Halsschmerzen, Kopf-
                        und Gliederschmerzen, Appetitlosigkeit, Gewichtsverlust, Übelkeit, Bauchschmerzen, Erbrechen,
                        Durchfall, Konjunktivitis, Hautausschlag, Lymphknotenschwellung, Apathie, Somnolenz"
                              persistent-hint></v-checkbox>
                          </v-col>
                        </v-row>
                      </v-container>

                      <template v-if="anySymptoms && intermediate">
                        <p>C19 Rule score: <input disabled v-bind:value="ruleScore" /></p>
                        <p>C19 Rule likelihood ratio: <input disabled v-bind:value="formatNumber(ruleLR)" /></p>
                        <p>Symptom-Faktor: <input disabled v-bind:value="formatNumber(ruleLR*anySymptomFactor)" /></p>
                      </template>
                      <p v-if="intermediate">Vortestwahrscheinlichkeit nach Symptomen: <input disabled
                          v-bind:value="formatPercent(priorProbSymptoms)" />
                      </p>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
                <v-spacer></v-spacer>
              </v-col>
            </v-row>
          </v-container>
        </v-tab-item>



        <v-tab-item>
          <!-- TAB info -->
          <v-container class="fill-height">
            <v-row class="fill-height">
              <v-col cols="12" class="fill-height">
                <v-expansion-panels multiple class="mb-8" v-model="expandedPanelsInfo">

                  <v-expansion-panel>
                    <v-expansion-panel-header class="font-weight-bold text-uppercase" color="blue lighten-3">
                      Verwende Quellen und Methoden
                    </v-expansion-panel-header>
                    <v-expansion-panel-content color="blue lighten-5">

                      <p class="font-weight-bold mt-4">Die Daten über verfügbare Schnelltests kommen aus diesen Quellen:
                      </p>
                      <ul>
                        <li><a href="https://www.bfarm.de/DE/Medizinprodukte/Antigentests/_node.html"
                            rel="nofollow">Liste der Tests zur Eigenanwendung durch Laien</a> des BfArM</li>
                        <li><a href="https://antigentest.bfarm.de/ords/f?p=ANTIGENTESTS-AUF-SARS-COV-2"
                            rel="nofollow">Liste der Antigen-Tests zum direkten Erregernachweis des Coronavirus
                            SARS-CoV-2</a> des BfArM</li>
                        <li><a href="https://www.klinikum.uni-heidelberg.de/diagnostics-global-health"
                            rel="nofollow">Ergebnisse unabhängiger Studien</a>, zusammen getragen von der Uni Heidelberg
                        </li>
                      </ul>
                      <p class="font-weight-bold mt-4">Die Einschätzung der a-priori Wahrscheinlichkeit basiert auf:</p>
                      <ul>
                        <li>den Inzidenzen gemäß <a href="https://api.corona-zahlen.org/docs/"
                            rel="nofollow">corona-zahlen.org</a></li>
                        <li>einer Extrapolation der Inzidenz durch das Wachstum seit der Vor-Woche</li>
                        <li>einer Abschätzung des Underreporting-Faktors von 4-6 durch das <a
                            href="https://www.rki.de/DE/Content/Infekt/EpidBull/Archiv/2020/Ausgaben/50_20.pdf?__blob=publicationFile"
                            rel="nofollow">RKI</a></li>
                        <li>Faktoren für das private Infektionsrisiko, die an <a href="https://www.microcovid.org"
                            rel="nofollow">Microcovid</a> angelehnt sind</li>
                        <li>Faktoren für das berufliche Risiko, die beispielhaft aus Grafiken von <a
                            href="https://www.addendum.org/coronavirus/berufe-ansteckungsrisiko/"
                            rel="nofollow">www.addendum.org</a> entnommen wurden</li>
                      </ul>
                      <p class="mt-4">Die Berechnung der Bayes-Faktoren und der A-Posteriori-Wahrscheinlichkeiten folgt
                        der
                        Berechnung des Videos <a href="https://www.youtube.com/watch?v=lG4VkPoG3ko" rel="nofollow">The
                          medical test paradox: Can redesigning Bayes rule help?</a> von 3Blue1Brown.
                      </p>
                      <p>Der Einfluss von Symptomen auf die a-priori Wahrscheinlichkeit einer Infektion wurde nach der
                        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7584484/" rel="nofollow">Punkteregel nach
                          Smith, Richey und Brunetto</a> implementiert. Die Punkteregel ist darauf ausgelegt, die
                        a-priori Wahrscheinlichkeit eines symptomatischen Patienten (mit unklaren Symptomen, die grob
                        auf
                        Covid-19 hindeuten) anhand seiner spezifischen Symptome zu verfeinern. Dazu wird die Prävalenz
                        um den Faktor 18,8 angehoben, sobald Symptome vorhanden sind, um anschließend die Punkteregel
                        anzuwenden. <strong>Der Faktor 18,8 basiert auf sehr groben Abschätzungen und stellt
                          wahrscheinlich die größte Ungenauigkeit innerhalb der gesamten Berechnung dar. Er sollte
                          dringend durch einen wissenschaftlich basierten Wert ersetzt werden.</strong>
                      </p>

                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header class="font-weight-bold text-uppercase" color="blue lighten-3">
                      Weitere Informationsquellen
                    </v-expansion-panel-header>
                    <v-expansion-panel-content color="blue lighten-5">

                      <p class="mt-4">Diese Seite hat nicht den Anspruch, sämtliche Informationen zu SARS-CoV-2-Tests
                        vollständig und
                        fehlerfrei anzubieten. Daher empfehlen wir ausdrücklich, auch weitere Informationsquellen zu
                        Rate zu ziehen!</p>
                      <ul>
                        <li><a href="https://www.zusammengegencorona.de/informieren/testen/" target="_">Informationen
                            zum Testen</a> vom Bundesministerium für Gesundheit</li>
                        <li><a href="https://www.infektionsschutz.de/coronavirus/tests-auf-sars-cov-2.html"
                            target="_">Tests auf das Coronavirus SARS-CoV-2</a> von der Bundeszentrale für
                          gesundheitliche Aufklärung (BZgA)</li>
                        <li>Sämtliche Informationen des <a
                            href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/nCoV.html"
                            target="_">Robert Koch Instituts (RKI)</a></li>
                        <li>Der <a href="https://rki-wiko.shinyapps.io/test_qual/" target="_"> Schnelltest-Rechner des
                            Robert Koch Instituts (RKI)</a>. Er ist zwar langsam und weniger mächtig als dieser hier,
                          bietet aber ein paar andere Darstellungsweisen der Ergebnisse.</li>
                        <li>Die <a
                            href="https://www.cochrane.de/de/news/aktualisierter-cochrane-review-bewertet-zuverl%C3%A4ssigkeit-von-schnelltests-zum-nachweis-von-covid"
                            target="_">Zusammenfassung</a> und die <a
                            href="https://www.cochranelibrary.com/cdsr/doi/10.1002/14651858.CD013705.pub2/full/de"
                            target="_">(wirklich lange) Langdassung</a> des Aktualisierten Cochrane Review bewertet
                          Zuverlässigkeit von Schnelltests zum Nachweis von COVID-19. Die Ergebnisse daraus sind <i>noch
                            nicht</i> in die Datenbasis dieses Rechners integriert.</li>
                      </ul>

                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-col>
            </v-row>
          </v-container>
        </v-tab-item>


        <v-tab-item>
          <!-- TAB imprint -->
          <v-container class="fill-height">
            <v-row class="fill-height">
              <v-col cols="12" class="fill-height">
                <v-expansion-panels multiple class="mb-8" v-model="expandedPanelsImprint">

                  <v-expansion-panel>
                    <v-expansion-panel-header class="font-weight-bold text-uppercase">
                      Verantwortliche
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <h2>Angaben gemäß § 5 TMG und Verantwortliche für den Inhalt nach § 55 Abs. 2 RStV
                      </h2>
                      <ul>
                        <li>Lena Schimmel</li>
                        <li>Chemnitzstr. 7</li>
                        <li>38118 Braunschweig</li>
                        <li>E-Mail: <a href="mailto:mail@schnelltestrechner.de">mail@schnelltestrechner.de</a></li>
                      </ul>
                      <p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur
                        Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird
                        hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich
                        rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch
                        Spam-Mails, vor.</p>
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header class="font-weight-bold text-uppercase">
                      Datenschutz
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <p>Bei der Nutzung dieser Webseite werden keine personenbezogenen Daten, insbesondere keine
                        Gesundheitsdaten erhoben, da alle Eingaben lokal im Browser verarbeitet werden. Es werden keine
                        Cookies o.Ä. verwendet, und keine Anfragen an andere Anbieter und Domains gemacht.</p>
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header class="font-weight-bold text-uppercase">
                      Haftung für Inhalte
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <p>Die Inhalte meiner Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit,
                        Vollständigkeit und Aktualität der Inhalte kann ich jedoch keine Gewähr übernehmen. Als
                        Diensteanbieter bin ich gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
                        allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG bin ich als Diensteanbieter jedoch
                        nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach
                        Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur
                        Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben
                        hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis
                        einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
                        Rechtsverletzungen werde ich diese Inhalte umgehend entfernen.</p>
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header class="font-weight-bold text-uppercase">
                      Haftung für Links
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <p>Mein Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss
                        haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die
                        Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
                        verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche
                        Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht
                        erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
                        Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen
                        werde ich derartige Links umgehend entfernen.</p>
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                </v-expansion-panels>
              </v-col>
            </v-row>
          </v-container>
        </v-tab-item>

      </v-tabs-items>
    </v-main>

    <v-footer height="70" v-if="tab == 0 && !resultValid" :app="fixedFooter" :fixed="fixedFooter" color="red lighten-3"
      id="footer">
      <v-card-text>Ergebnis kann nicht ermittelt werden, bevor die Eingaben vollständig sind.</v-card-text>
    </v-footer>

    <v-footer height="200" v-if="tab == 0 && resultValid" :app="fixedFooter" :fixed="fixedFooter"
      color="light-blue lighten-3" id="footer">
      <v-container fluid>
        <v-row v-if="$vuetify.breakpoint.smAndUp">
          <v-col class="font-weight-bold text-center" cols="4">Vortestwahrscheinlichkeit
          </v-col>
          <v-col class="font-weight-bold text-center" cols="8">Aussagekraft des Tests
          </v-col>
        </v-row>
        <v-row v-if="$vuetify.breakpoint.xsOnly">
          <v-col class="font-weight-bold text-center" cols="12">Vortestwahrscheinlichkeit {{
            formatPercent(priorProbSymptoms) }}
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="4" class="text-h4" v-if="$vuetify.breakpoint.smAndUp">
            <v-card class="pt-7 pb-7 text-center">
              {{ formatPercent(priorProbSymptoms) }}
            </v-card>
          </v-col>
          <v-col cols="12" sm="8">
            <v-simple-table color="light-blue lighten-5" dense>
              <template v-slot:default>
                <tbody>
                  <tr>
                    <td class="text-left font-weight-bold">

                    </td>
                    <td class="text-left font-weight-bold">
                      Infiziert
                    </td>
                    <td class="text-left font-weight-bold">
                      Nicht infiziert
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left font-weight-bold">Test positiv</td>
                    <td class="text-left">
                      {{ formatPercent(updatedProbPos) }} <template
                        v-if="$vuetify.breakpoint.mdAndUp">echt-positiv</template>
                      <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                          <v-icon color="primary" small v-bind="attrs" v-on="on">
                            mdi-help-circle
                          </v-icon>
                        </template>
                        <span>Bei einem positiven Testergebnis liegt zu {{ formatPercent(updatedProbPos) }} wirklich
                          eine
                          Infektion vor (echt-positiv).</span>
                      </v-tooltip>
                    </td>
                    <td class="text-left">
                      {{ formatPercent(1-updatedProbPos) }} <template
                        v-if="$vuetify.breakpoint.mdAndUp">falsch-positiv</template>
                      <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                          <v-icon color="primary" small v-bind="attrs" v-on="on">
                            mdi-help-circle
                          </v-icon>
                        </template>
                        <span>Bei einem positives Testergebnis liegt zu {{ formatPercent(1-updatedProbPos) }} keine
                          Infektion vor (falsch-positiv).</span>
                      </v-tooltip>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left font-weight-bold">Test negativ</td>
                    <td class="text-left">
                      {{ formatPercent(updatedProbNeg) }} <template
                        v-if="$vuetify.breakpoint.mdAndUp">falsch-negativ</template>
                      <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                          <v-icon color="primary" small v-bind="attrs" v-on="on">
                            mdi-help-circle
                          </v-icon>
                        </template>
                        <span>Bei einem negativen Testergebnis liegt zu {{ formatPercent(updatedProbNeg) }} trotzdem
                          eine Infektion vor (falsch-negativ).</span>

                      </v-tooltip>
                    </td>
                    <td class="text-left">
                      {{ formatPercent(1-updatedProbNeg) }} <template
                        v-if="$vuetify.breakpoint.mdAndUp">echt-negativ</template>
                      <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                          <v-icon color="primary" small v-bind="attrs" v-on="on">
                            mdi-help-circle
                          </v-icon>
                        </template>
                        <span>Bei einem negativen Testergebnis liegt zu {{ formatPercent(1-updatedProbNeg) }}
                          keine Infektion vor (echt-negativ).</span>
                      </v-tooltip>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-col>
        </v-row>
      </v-container>
    </v-footer>

    <v-fab-transition v-if="tab == 0">
      <v-btn color="pink" v-show="!fixedFooter && !scrolledToBottom" fab dark fixed bottom right class="mb-8 mr-8"
        @click="$vuetify.goTo('#footer', { duration: 600, easing: 'easeInOutCubic' })">
        <v-icon>mdi-chevron-triple-down</v-icon>
      </v-btn>
    </v-fab-transition>

  </v-app>

  <script src="/js/vue.js"></script>
  <script src="/js/vuetify.js"></script>
  <script src="/js/vue-screen.min.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>