.v-messages {
    font-size: 16px !important;
}

.v-messages__message {
    line-height: 19px !important;
}

.hidden {
    display: none;
}

.v-data-table td {
    padding: 0 8px !important;
}

.v-list-item__subtitle, .v-list-item__title {
    overflow: auto !important;
    text-overflow: unset !important;
    white-space: normal !important;
}